{% extends "base.html" %}
{% load static %}

{% block title %} WORKSPACE {% endblock %}

{% block body %}
<div class="container px-4 px-lg-5 mt-5">
  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    {% for workspace in pws %}
    <div class="col mb-5">
      <div class="card h-100 shadow-lg text-white" style="background-color: rgb(22, 74, 65);">
        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{ workspace.category }}</div>
          <img class="card-img-top" src="{% static "001.png" %}" alt="workspace_pic">
          <div class="card-body p-4">
              <div class="text-center">
                  <h5 class="fw-bolder text-info">{{ workspace.name }}</h5>

                  <span class="text-info fw-custom">members: {{ workspace.member_count }}</span>
                  <br class="mb-2">
                  <br class="mb-2">
                  <br class="mb-2">

                  <span class="text-white fw-custom">{{ workspace.description|truncatechars:80 }}</span>
              </div>
          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-warning mt-auto fw-custom px-5" href="{% url "tasks:task_list" workspace.id %}">JOIN</a></div>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
