{% extends "base.html" %}
{% load static %}

{% block header_setting %}
  <link rel="stylesheet" href="{% static 'search_bar.css' %}">
  <link rel="stylesheet" href="{% static 'modal.css' %}">
{% endblock %}
{% block title %} WORKSPACE {% endblock %}

{% block body %}
<div class="container px-4 px-lg-5 mt-0">
  {% comment %} SEARCH & FILTER BAR {% endcomment %}
  <div class="text-center shadow-lg rounded-top-3 border border-warning {{ style.mb }} {{ style.pb }} {{ style.bottom }} mb-0 d-flex flex-wrap align-items-center justify-content-center gap-2" style="background-color: rgb(22, 74, 65);">
    
    {% comment %} SEARCH BAR {% endcomment %}
    <form class="mb-3 pt-5" action="{% url 'workspaces:all' %}" role="search">
      <div class="sb-animate">
        <input  name="searched" type="search" class="form-control-dark" placeholder="Search Here..." aria-label="Search">
        <div class="search"></div>
      </div>
    </form>
    
    {% comment %} FILTER BAR {% endcomment %}
    <div class="row mt-3 d-wrap d-flex">
      <a class="text-decoration-none text-dark col-4 text-center" href="{% url "workspaces:all" %}">
        <button class="p-3 btn-lg btn-warning mx-4 badge text-bg-warning rounded-pill" type="button">All Workspaces</button>
      </a>
      <a class="text-decoration-none text-dark col-4 text-center" href="{% url "workspaces:own" %}">
        <button class="p-3 btn-lg btn-warning mx-4 badge text-bg-warning rounded-pill" type="button">My Workspaces</button>
      </a>
      <a class="text-decoration-none text-dark col-4 text-center" href="{% url "workspaces:joined" %}">
        <button class="p-3 btn-lg btn-warning mx-4 badge text-bg-warning rounded-pill" type="button">Joined Workspaces</button>
      </a>
    </div>
  </div>

  {% comment %} add-update-delete OPTIONS {% endcomment %}
  {% if request.path == "/workspace/own/" %}
  <ul class="dropdown-menu d-block rounded-top-0 position-static mb-4 mx-0 border-warning border-top-0 w-220px" data-bs-theme="dark" style="background-color: rgb(22, 74, 65);">
    <li><hr class="dropdown-divider"></li>
    <li>
      <a id="myButton" class="dropdown-item d-flex gap-2 align-items-center justify-content-center">
        <img src="{% static "add.png" %}" width="30" height="30"/>
        Add New
        <img src="{% static "add.png" %}" width="30" height="30"/>
      </a>
    </li>
  </ul>
  {% comment %} add-update-delete MODAL {% endcomment %}
  <div id="myModal" class="modal align-content-center justify-content-center">
    <div class="modal-content bg-dark">
      <div class="text-white">
        <h1>Add New Workspace</h1>
        <form method=POST> {% csrf_token %}
          <label class="form-label mt-3" for="name">Workspace Name</label>
            {{ form.name }}

            <label class="form-label mt-3" for="description">Description</label>
            {{ form.description }}
            
            <label class="form-label mt-3" for="category">Category</label>
            {{ form.category }}
            
            <label class="form-label mt-3" for="tag">Tags</label>
            {{ form.tag }}
            
            <label class="form-label mt-3" for="public">Public?</label>
            {{ form.public }}
          
          <br class="my-3">
          <div class="text-start h3">
            <button 
              class="py-2 px-3 btn-lg btn-warning badge text-bg-warning rounded-pill" 
              type="submit"> Add
            </button>
            <span class="close">
              <button 
                class="py-2 px-3 btn-lg btn-warning badge text-bg-danger rounded-pill" 
                type="exit"> Cancel
              </button>
            </span>
            {% comment %} <input class="bg-warning" type='submit' value='save'/> {% endcomment %}
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
  {% comment %} WORKSPACE CARD'S {% endcomment %}
  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    {% for workspace in pws %}
    {% comment %} Joined Page {% endcomment %}
    {% if request.path == "/workspace/joined/" and request.user in workspace.members.all %}
    <div class="col mb-5">
      <div class="card h-100 shadow-lg text-white" style="background-color: rgb(22, 74, 65);">
        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{ workspace.category }}</div>
          <img class="card-img-top" src="{% static "001.png" %}" alt="workspace_pic">
          <div class="card-body p-4">
            <div class="text-center">
              <h3 class="fw-bolder text-warning">{{ workspace.name }}</h3>

              <span class="text-white d-block fw-custom">
                Host: [ <span class="text-warning">{{ workspace.host }}</span> ]
              </span>
              <span class="text-white d-block fw-custom">
                Members: [ <span class="text-warning">{{ workspace.member_count }}</span> ]
              </span>
              <br class="mb-2">

              <span class="text-white fw-custom">{{ workspace.description|truncatechars:80 }}</span>
            </div>
          </div>
          <div class="card-footer mb-2 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-warning mt-auto fw-custom px-5" href="{% url "tasks:all" workspace.id %}">
                <img src="{% static "add.png" %}" width="30" height="30"/>
                OPEN
                <img src="{% static "add.png" %}" width="30" height="30"/>  
              </a>
            </div>
          </div>
    {% comment %} Own Page  {% endcomment %}
    {% elif request.path == "/workspace/own/" and workspace.host == request.user %}
    <div class="col mb-5">
      <div class="card h-100 shadow-lg text-white" style="background-color: rgb(22, 74, 65);">
        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{ workspace.category }}</div>
          <img class="card-img-top" src="{% static "001.png" %}" alt="workspace_pic">
          <div class="card-body p-4">
            <div class="text-center">
              <h3 class="fw-bolder text-warning">{{ workspace.name }}</h3>

              <span class="text-white d-block fw-custom">
                Host: [ <span class="text-warning">{{ workspace.host }}</span> ]
              </span>
              <span class="text-white d-block fw-custom">
                Members: [ <span class="text-warning">{{ workspace.member_count }}</span> ]
              </span>
              <br class="mb-2">

              <span class="text-white fw-custom">{{ workspace.description|truncatechars:80 }}</span>
            </div>
          </div>
          <div class="d-block rounded-top-0 position-static mb-2 mx-0 w-220px" data-bs-theme="dark" style="background-color: rgb(22, 74, 65);">
            <div class="card-footer border-top-0 bg-transparent">
              <div class="row text-center mx-4">
                <a class="col btn btn-outline-warning rounded-end-0" href="{% url "workspaces:update" workspace.id %}">
                  <img src="{% static "update.png" %}" width="30" height="30"/>
                  Update
                </a>
                <button onclick="callAlert(this)" class="col btn btn-outline-danger rounded-start-0" link="{% url "workspaces:delete" workspace.id %}">
                  Delete
                  <img src="{% static "delete.png" %}" width="30" height="30"/>
                </button>
              </div>
            </div>
            <div class="d-block card-footer border-top-0 bg-transparent">
              <div class="text-center">
                <a class="btn btn-outline-warning mt-auto fw-custom px-5" href="{% url "tasks:all" workspace.id %}">
                  <img src="{% static "add.png" %}" width="30" height="30"/>
                  OPEN
                  <img src="{% static "add.png" %}" width="30" height="30"/>  
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    {% comment %} All Page  {% endcomment %}
    {% elif request.path == "/workspace/all/" %}
    <div class="col mb-5">
      <div class="card h-100 shadow-lg text-white" style="background-color: rgb(22, 74, 65);">
        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{ workspace.category }}</div>
          <img class="card-img-top" src="{% static "001.png" %}" alt="workspace_pic">
          <div class="card-body p-4">
            <div class="text-center">
              <h3 class="fw-bolder text-warning">{{ workspace.name }}</h3>

              <span class="text-white d-block fw-custom">
                Host: [ <span class="text-warning">{{ workspace.host }}</span> ]
              </span>
              <span class="text-white d-block fw-custom">
                Members: [ <span class="text-warning">{{ workspace.member_count }}</span> ]
              </span>
              <br class="mb-2">

              <span class="text-white fw-custom">{{ workspace.description|truncatechars:80 }}</span>
            </div>
          </div>
          
          {% if workspace.host == request.user %}
          <div class="d-block rounded-top-0 position-static mb-2 mx-0 w-220px" data-bs-theme="dark" style="background-color: rgb(22, 74, 65);">
            <div class="card-footer border-top-0 bg-transparent">
              <div class="row text-center mx-4">
                <a class="col btn btn-outline-warning rounded-end-0" href="{% url "workspaces:update" workspace.id %}">
                  <img src="{% static "update.png" %}" width="30" height="30"/>
                  Update
                </a>
                <button onclick="callAlert(this)" class="col btn btn-outline-danger rounded-start-0" link="{% url "workspaces:delete" workspace.id %}">
                  Delete
                  <img src="{% static "delete.png" %}" width="30" height="30"/>
                </button>
              </div>
            </div>
            <div class="d-block card-footer border-top-0 bg-transparent">
              <div class="text-center">
                <a class="btn btn-outline-warning mt-auto fw-custom px-5" href="{% url "tasks:all" workspace.id %}">
                  <img src="{% static "add.png" %}" width="30" height="30"/>
                  OPEN
                  <img src="{% static "add.png" %}" width="30" height="30"/>  
                </a>
              </div>
            </div>
          </div>
          {% elif request.user in workspace.members.all %}
          <div class="card-footer mb-2 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-warning mt-auto fw-custom px-5" href="{% url "tasks:all" workspace.id %}">
                <img src="{% static "add.png" %}" width="30" height="30"/>
                OPEN
                <img src="{% static "add.png" %}" width="30" height="30"/>  
              </a>
            </div>
          </div>
          {% else %}
          <div class="card-footer mb-2 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-warning mt-auto fw-custom px-5" href="{% url "workspaces:details" workspace.id %}">
                <img src="{% static "visit.png" %}" width="30" height="30"/>
                VISIT
                <img src="{% static "visit.png" %}" width="30" height="30"/>
              </a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <script>
  var myButton = document.getElementById("myButton");
  var myModal = document.getElementById("myModal");
  var closeButton = document.getElementsByClassName("close")[0];

  function openModal() {
    myModal.style.display = "block";
  }

  function closeModal() {
    myModal.style.display = "none";
  }

  myButton.addEventListener("click", openModal);
  closeButton.addEventListener("click", closeModal);

  function callAlert(element) {
    var userResponse = confirm("Are You Sure?");
    var link = element.getAttribute("link");

    if (userResponse) {
        window.location.href = link;
    } else {

    }
  }
</script>
{% comment %} <script>
  const basicAutocomplete = document.querySelector('search-autocomplete');
  const data = ['One', 'Two', 'Three', 'Four', 'Five'];
  const dataFilter = (value) => {
    return data.filter((item) => {
      return item.toLowerCase().startsWith(value.toLowerCase());
    });
  };

  new mdb.Autocomplete(basicAutocomplete, {
    filter: dataFilter
  });
</script> {% endcomment %}
{% endblock %}
