{% extends "base.html" %}
{% load static %}

{% block header_setting %}
  <link rel="stylesheet" href="{% static 'search_bar.css' %}">
  <link rel="stylesheet" href="{% static 'modal.css' %}">
  <link rel="stylesheet" href="{% static 'toggle_checkbox.css' %}">
{% endblock %}

{% block title %} TASKS {% endblock %}

{% block body %}
<div class="container px-4 px-lg-5 mt-0">
  {% comment %} SEARCH & FILTER BAR {% endcomment %}
  <div class="text-center shadow-lg rounded-top-3 border border-warning {{ style.mb }} {{ style.pb }} {{ style.bottom }} mb-0 d-flex flex-wrap align-items-center justify-content-center gap-2" style="background-color: rgb(22, 74, 65);">

    {% comment %} SEARCH BAR {% endcomment %}
    <form class="mb-3 pt-5" role="search" action="{{ request.path }}">
      <div class="sb-animate">
        <input  name="searched" type="search" class="form-control-dark" placeholder="Search Here..." aria-label="Search">
        <div class="search"></div>
      </div>
    </form>
    
    
  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    {% for task in tasks %}
    {% if task.owner == request.user or request.user in task.functor_task_permission.all %}
    <div class="col mb-5">
      <div class="card h-100 shadow-lg" style="background-color: rgb(22, 74, 65);">
        <img class="card-img-top" src="{% static "001.png" %}" alt="workspace_pic">
        
        {% if task.status %}
        <div class="badge position-absolute p-0 bg-{{ task.color }}" style="top: 0.5rem; right: 0.5rem;">
          <img class="" src="{% static "fin_task.png" %}" alt="status_pic" width="35" heigth="40">
        </div>
        <div class="progress rounded-0 bg-secondary">
          <div 
            class="progress-bar progress-bar-striped progress-bar-animated bg-{{ task.color }}" 
            role="progressbar" 
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 100%; "
            taskid="{{ task.id }}">
          </div>
        </div>
        {% else %}
        <div class="badge position-absolute p-0 bg-{{ task.color }}" style="top: 0.5rem; right: 0.5rem;">
          <img class="" src="{% static "own_pending.png" %}" alt="status_pic" width="35" heigth="40">
        </div>
        <div class="progress rounded-0 bg-secondary">
          <div 
            class="progress-bar progress-bar-striped progress-bar-animated bg-{{ task.color }}" 
            role="progressbar" 
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 0%; "
            taskid="{{ task.id }}">
          </div>
        </div>
        {% endif %}
        <div class="card-body p-4">
          <div class="text-center">
            <h4 class="fw-bolder text-{{ task.color }} mb-0">{{ task.title }}</h4>
            <span class="text-white d-block fw-custom">
              Owner: [ <span class="text-warning">{{ task.owner }}</span> ]
            </span>
            <span class="text-white d-block fw-custom"> 
              Functors: [ <span class="text-warning">
                {% for usr in task.functor_task_permission.all %}{{ usr.username }} 
                <span class="text-white"> | </span>{% endfor %}
                        </span> ]
            </span> 
            <br class="mb-2">
          </div>
        </div>

        {% if task.status %}
        <div class="text-center px-4">
            <div class="text-info fw-custom blockquote-footer text-center"><del>{{ task.due_date }}</del></div>
            <div class="text-white mt-4">{{ task.description }}</div>
        </div>
        <br class="mb-2 mt-0">
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
            <li class="tg-list-item cbb">
                <input class="tgl tgl-skewed" id="cb{{ task.id }}" type="checkbox" checked="true" taskid="{{ task.id }}" onclick="pb_range(this)"/>
                <label class="tgl-btn rounded-5" data-tg-off="To-Do" data-tg-on="DONE!" for="cb{{ task.id }}"></label>
            </li>
            </div>
        </div>
        {% else %}
        <div class="text-center px-4">
            <div class="text-info fw-custom blockquote-footer">{{ task.due_date }}</div>
            <div class="text-white mt-4">{{ task.description }}</div>
        </div>
        <br class="mb-2 mt-0">
        <form method=POST>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
            <div class="tg-list-item cbb">
                <input class="tgl tgl-skewed" id="cb{{ task.id }}" type="checkbox" taskid="{{ task.id }}" onclick="pb_range(this)"/>
                <label class="tgl-btn rounded-5" data-tg-off="To-Do" data-tg-on="DONE!" for="cb{{ task.id }}"></label>
            </div>
            </div>
        </div>
        </form>
        {% endif %}
        {% endif %}
        </div>
      </div>
    {% endfor %}
<script>
  {% comment %} Progress Bar Script {% endcomment %}
  function pb_range(element){
    var taskId = element.getAttribute("taskid")
    var select_progres = document.querySelector('div[taskid="' + taskId + '"]')
    if ( element.checked ) {
      select_progres.style.width="100%";
    } else {
      select_progres.style.width="0%";
    }
  }
  {% comment %} Modal Script {% endcomment %}
  
  var myButton = document.getElementById("myButton");
  var myModal = document.getElementById("myModal");
  var closeButton = document.getElementsByClassName("close")[0];
  
  function openModal() {
    myModal.style.display = "block";
  }
  
  function closeModal() {
    myModal.style.display = "none";
  }
  
  myButton.addEventListener("click", openModal);
  closeButton.addEventListener("click", closeModal);


  function del(element) {
    var userResponse = confirm("Are You Sure?");
    var link = element.getAttribute("link");

    if (userResponse) {
        window.location.href = link;
    } else {

    }
  }
</script>
{% endblock %}
<form method="POST"> {% csrf_token %}
  <button class="w-100 btn btn-warning btn-lg" type="submit">SUBMIT</button>
</form>

