{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="bootstrap/bootstrap.bundle.min.js">
  <link rel="stylesheet" href="bootstrap/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
  <!-- {% block header-setting %}{% endblock %} -->
  <title>{% block title %}TMS{% endblock %}</title>
</head>
<!-- content-card for cards -->
<!-- rgb(49, 236, 86) green -->
<!-- rgb(239, 3, 108) red -->
<!-- rgb(238, 114, 248) pink -->
<body style="background-color: rgb(22, 74, 65);"> 
  <!-- my web navigation -->
  {% block nav %}
  <header>
    <nav class="p-1 text-white" style="background-color: rgb(22, 74, 65);">
      <div class="mx-5">
        <div class="d-flex flex-wrap align-items-center">
          <a href="/" class="d-flex me-4 align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img class="bi me-2" src="{% static 'images/tms-logo.png' %}" width="75" height="70" aria-label="Bootstrap"/>
            <h3>Thornless</h3>
          </a>
  
          <ul class="nav col-lg-auto ms-lg-auto me-3">
            <li><a href="/" class="nav-link px-2 text-warning">HOME</a></li>
            <li><a href="/workspaces/" class="nav-link px-2 text-white">Workspace</a></li>
            <li><a href="/faqs" class="nav-link px-2 text-white">MyTask</a></li>
            <li><a href="/about" class="nav-link px-2 text-white">Invite</a></li>
          </ul>
  
          <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-dark text-bg-white" placeholder="Search..." aria-label="Search">
          </form> -->
  
          <div class="text-end">
            <a href="/login"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
            <a href="/signup"><button type="button" class="btn btn-warning">Sign-up</button></a>
          </div>
        </div>
      </div>
    </nav>

    <img class="" src="{% static 'images/003.png' %}" style="width: 50%;">
  </header>
  {% endblock %}
  
  <main>
    <div class="content-card" id="body">
        <div class="card rounded-4 rounded-bottom-2 m-5" style="width:300px;">
            <img class="card-img-top rounded-4 rounded-bottom-0" src="{% static image %}" alt="Card image">
            <div class="card-body bg-warning rounded-1 rounded-top-0 pt-2">
              <h5 class="card-title my-auto text-center h-100">
                <strong class="mx-auto">{{ game.title }}</strong>
              </h5>
              <p class="card-text mb-2 ps-2 mt-3">score -> {{ game.score }}/10</p>
              <p class="card-text mb-2 ps-2">age -> +{{ game.allowed_age }}</p>
              <p class="card-text mb-2 ps-2">genre -> {{ game.genre }}</p>
    </div>
    <!-- <div id="body">{% block body %}{% endblock %}</div> -->
  </main>
</body>
</html>