{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="bootstrap/bootstrap.bundle.min.js">
  <link rel="stylesheet" href="bootstrap/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
  <!-- {% block header-setting %}{% endblock %} -->
  <title>{% block title %}TMS{% endblock %}</title>
</head>
<!-- content-card for cards -->

<body style="background-color: rgb(22, 74, 65);"> 
  <!-- my web navigation -->
  {% block nav %}
  <header>
    <nav class="p-1 text-white" style="background-color: rgb(22, 74, 65);">
      <div class="mx-5">
        <div class="d-flex flex-wrap align-items-center">
          <a href="/" class="d-flex me-4 align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img class="bi me-2" src="{% static 'images/tms-logo.png' %}" width="75" height="70" aria-label="Bootstrap"/>
            <h3>Thornless</h3>
          </a>
  
          <ul class="nav col-lg-auto ms-lg-auto me-3">
            <li><a href="/" class="nav-link px-2 text-warning">HOME</a></li>
            <li><a href="/workspaces/" class="nav-link px-2 text-white">Workspace</a></li>
            <li><a href="/faqs" class="nav-link px-2 text-white">MyTask</a></li>
            <li>
              <!-- <a href="/about" class="nav-link px-2 text-white">Invite</a> -->
              <button type="button" class="btn text-white position-relative">
                Invite <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">+99 <span class="visually-hidden">unread messages</span></span>
              </button>
            </li>
          </ul>
  
          <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-dark text-bg-white" placeholder="Search..." aria-label="Search">
          </form> -->
  
          <div class="text-end">
            <a href="/login"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
            <a href="/signup"><button type="button" class="btn btn-warning">Sign-up</button></a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  {% endblock %}
  
  <main>
    <div id="body">{% block body %}{% endblock %}</div>
  </main>
</body>
</html>