{% extends "base.html" %}
{% load static %}

{% block title %} WORKSPACE {% endblock %}

{% block body %}
<!-- <div class="mx-5 my-5 border" style="background-color: rgb(0, 255, 195);"> -->
<div class="row m-5 pt-5 ps-5 row-cols-1 row-cols-sm-2 row-cols-md-3">
  {% for workspace in pws %}
  
    <!-- <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">VIP!</span> -->
    <div class="col-lg-4 col-md-5 h-100 m-auto mt-3 mb-5" height="100">
    <div class="content-card m-auto h-100 ps-5 d-flex flex-wrap" id="body">
      <div class="card rounded-4 m-5" style="width:300px;">
        <button type="button" class="btn-lg-white position-relative me-2 rounded-4">
          <a href="{{ workspace.name|slugify }}" class="text-white" style="text-decoration: none;">
            <div class="card-body rounded-4 pt-2 px-2" style="background-color: rgb(22, 74, 65);">
              <h3 class="card-title my-auto text-center h-100">
                <strong class="mx-auto ">{{ workspace.name }}</strong>
              </h3>
              <p class="card-text mb-2 mt-3 px-3">members: {{ workspace.member_count }}</p>
            </div>
          </a>
        </button>
      </div>
    </div>
    </div>
  {% endfor %}
</div>
</div>
{% endblock %}

