{% extends "base.html" %}
{% load static %}

{% block title %} HOME {% endblock %}

{% block body %}
  <div class="pb-5 container">
    <div>
      <h1 class="position-absolute end-0 bottom-1 fw-bolder fw-italic" style="font-size: 500px; color: rgb(253, 220, 228);"> 
        TASK 
      </h1>
    </div>
    <img class="position-absolute end-0" src="{% static '006.png' %}" style="width: 50%;">

    <div class="position-absolute bottom-0 start-0 mx-5 text-white" style="font-size: 30px;">
      <b class="text-warning" style="font-size: 50px;"> - WELCOME TO THORNLESS - </b>
      <p> 
        Thornless is a 
        <strong style="color: rgb(239, 3, 108);">task management system</strong> 
        web application.
      </p>
      <p>Tasks is like a cactus with sharp and painful thorns.</p>
      <p>Thornless remove the thorns from this cactus and help you</p>
      <p>
        interact with it more easily. ->
        <span>
          <a href="/s/signup/"><button type="button" class="btn btn-outline-warning">I NEED THIS :3</button></a>
        </span>
        <span>
          <a href="/sad/"><button type="button" class="btn btn-outline-dark">I DON'T :(</button></a>
        </span>
      </p>
            
    </div>
  </div>
{% endblock %}
<!-- rgb(49, 236, 86) green -->
<!-- rgb(239, 3, 108) red -->
<!-- rgb(238, 114, 248) pink -->
